body {
	background-color: hsl(212, 45%, 89%);
	font-size: (paragraph): 15px;
	margin: 0;
	padding: 0;
}

.attribution {
	font-size: 15px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

main {
	height: 100vh;
	display: flex;
	
	/* Cambia las siguientes lineas para experimentar👇*/
	align-items: center;
	justify-content: center;
}

.card {
	background-color: hsl(0, 0%, 100%);
	width: 319px;
	height: 496px;
	border-radius: 20px;
	text-align: center;
}

.card img {
	width: 287px;
	border-radius: 25px;
	padding: 1rem;
}

h1 {
	font-family: "Outfit", sans-serif;
	font-weight: 700;
	font-size: 1.6rem;
	margin: 0;
}

p {
	font-family: "Outfit", sans-serif;
	font-weight: 400;
	color: hsl(220, 15%, 55%);
	margin: 1rem 1.2rem
}

footer {
	background-color: hsl(220, 15%, 55%);
	color: white;

	margin-top: 40px;
	padding: 15px 0;
	width: 100%;
	position:absolute;
	bottom:0;
}